<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform
      processPath="C:\inetpub\aquaponics\.venv\Scripts\python.exe"
      arguments="C:\inetpub\aquaponics\waitress_app.py"
      stdoutLogEnabled="true"
      stdoutLogFile="C:\inetpub\logs\aquaponics\stdout.log"
      startupTimeLimit="30"
      rapidFailsPerMinute="10">    
    </httpPlatform>

    <httpErrors errorMode="Detailed" />
    <staticContent>
      <mimeMap fileExtension=".mjpg" mimeType="multipart/x-mixed-replace" />
    </staticContent>
    <urlCompression doDynamicCompression="false" doStaticCompression="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Accel-Buffering" value="no" />
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <location path="aquaponics/stream_proxy">
    <system.webServer>
      <urlCompression doDynamicCompression="false" doStaticCompression="false" />
      <httpProtocol>
        <customHeaders>
          <remove name="X-Accel-Buffering" />
          <add name="X-Accel-Buffering" value="no" />
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache" />
          <add name="Connection" value="keep-alive" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
