{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>🏆 WNCC STEM Club Aquaponics Champions</h1>
    <p>We proudly recognize the individuals and organizations who have made outstanding contributions to our WNCC STEM
        Club Aquaponics and other STEM initiatives. Their dedication, expertise, and support have been instrumental in
        the success of this project. Thank you for your support, leadership, and inspiration!</p>

    <div class="card mb-4">
        <div class="card-header">
            <h3>Champions List</h3>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush" id="champions-list">
                <li class="list-group-item bg-transparent text-white">Dave Nelson - Faculty & Technical Advisor</li>
                <li class="list-group-item bg-transparent text-white">Kate Schneider - Faculty & Technical Advisor</li>
                <li class="list-group-item bg-transparent text-white">All CPod Science Faculty - Project Supporters</li>
                <li class="list-group-item bg-transparent text-white">President Dart - President & Project Supporter
                </li>
                <li class="list-group-item bg-transparent text-white">Lynne Koski - Vice President of Administrative
                    Services & Project Supporter</li>
                <li class="list-group-item bg-transparent text-white">Emily Norman - Dean of Students & Project
                    Supporter
                </li>
                <li class="list-group-item bg-transparent text-white">Russell Pontarolo - Faculty & Technical Advisor
                </li>
                <li class="list-group-item bg-transparent text-white">Micah Findley - Facilities & Project Supporter
                </li>
                <li class="list-group-item bg-transparent text-white">Chris Mitchell-Gonzalez - Maintenance & Technical
                    Advisor</li>
                <li class="list-group-item bg-transparent text-white">Connie - FBG & Project Supporter</li>
                <li class="list-group-item bg-transparent text-white">STEM Club Members - 2023-2025</li>
                <li class="list-group-item bg-transparent text-white">Welding Program Students</li>
                <li class="list-group-item bg-transparent text-white">Sneha Maharjan - Consulting Engineer</li>
                <li class="list-group-item bg-transparent text-white">Bailey Nelson - Consulting Engineer</li>
                <li class="list-group-item bg-transparent text-white">Jackie Jacobsen - Faculty & Project Supporter</li>
                <li class="list-group-item bg-transparent text-white">Patsy Yeager - Faculty & Project Supporter</li>
                <li class="list-group-item bg-transparent text-white">Aletia Norwood - Faculty & Project Supporter</li>
                <li class="list-group-item bg-transparent text-white">Nancy Resseguie - Faculty & WNCC STEM Club Advisor
                </li>
                <li class="list-group-item bg-transparent text-white">Bill Loring - Faculty & WNCC STEM Club Advisor
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}